.footer {
    background-color: rgb(35, 35, 35);
    height: 150px;
    color: white;
    margin: 0;
    padding: 0 500px;
    color: gray;
}

.innerFooter {
    display: flex;   
    justify-content: space-between;
    align-items: center;
}

.copyright {
    text-align: center;
}